.mydiv{
    background-color:cadetblue;
    padding-bottom: 50px;
    padding-top: 40px;
    padding-left: 15px;
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 400px;
    font-family: "Times New Roman", Times, serif;
}