<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div *ngFor="let user of usersList">
        <div *ngIf="user.isDeleted">
          <div
            class="card"
            style="border:2px solid red ;"
          >
            <div class="card-body">
              <h5 class="card-title">
                {{ user.firstName }} {{ user.lastName }}
              </h5>

              <button
                (click)="showDetails(user.id)"
                style="margin-left: 250px;"
                class="btn btn-primary"
              >
                Details
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="!user.isDeleted">
          <div
            class="card"
            style="border:2px solid green ;"
          >
            <div class="card-body">
              <h5 class="card-title">
                {{ user.firstName }} {{ user.lastName }}
              </h5>

              <button
                (click)="showDetails(user.id)"
                style="margin-left: 250px;"
                class="btn btn-primary"
              >
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
